body {
    background-color: rgb(72, 132, 241);
    color: white;
    font: normal 20px arial;
    text-align: center;

}

header {
    
}


div {
    background-color: white;
    color: black;
    width: 500px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.315);
}

footer {
    font-style: italic;
}